html {
    height: 100%;
    width: 100%;
}

body {    
    height: 100%;
    width: 100%;
    font-family: Verdana, sans-serif;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 30px;
    width: 100%;
    text-align: center;
    background-color: #f8f9fa;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(190, 190, 190);
    text-align: center;
}

 #shop-overview {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
 }

.product-img {
    height: 100px;
}

.cart-img {
    height: 80px;
}

.list-group {
    width: 800px;
}

.cart-item {
    margin: 20px;
}

#product-detail-img {
    height: 300px;
}

.card {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: thin;
    text-align: center;
}

.nav-icon {
    height: 20px;
    width: auto;
}

.cart-align {
    justify-content: center;
}

.add-to-cart-btn {
    height: 50px;
}

.card-content-right {
    float: right;
    vertical-align: center;
}

.card-content-left {
    float: left;
    text-align: left;
}

.card-content {
    padding: 10px;
}